In [1]:
import os

os.getcwd()

'/media/hamza/Disque local/Hamza Bouajila/Portfolio/Building-a-Batch-ETL-Pipeline-RedPanda/notebooks'

In [2]:
os.chdir("../")
os.getcwd()

'/media/hamza/Disque local/Hamza Bouajila/Portfolio/Building-a-Batch-ETL-Pipeline-RedPanda'

In [10]:
from app.setup.config import settings
import duckdb

# Initiate a MotherDuck connection using an access token
con = duckdb.connect(f"md:sample_data?motherduck_token={settings.MOTHERDUCK_TOKEN}")

In [11]:
con

In [15]:
con.sql("SHOW DATABASES").show()

┌───────────────────────┐
│     database_name     │
│        varchar        │
├───────────────────────┤
│ md_information_schema │
│ my_db                 │
│ sample_data           │
└───────────────────────┘

In [16]:
con.sql("SELECT current_database()").fetchdf()

  current_database()
0        sample_data

In [18]:
con.sql("USE main")

In [21]:
con.sql("SELECT current_database()").fetchdf()

  current_database()
0        sample_data

In [23]:
con.sql("SHOW TABLES").show()

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ 0 rows  │
└─────────┘