In [5]:
import os

os.getcwd()

'/media/hamza/Disque local/Hamza Bouajila/Portfolio/Building-a-Batch-ETL-Pipeline-RedPanda'

In [3]:
os.chdir("../")
os.getcwd()

'/media/hamza/Disque local/Hamza Bouajila/Portfolio/Building-a-Batch-ETL-Pipeline-RedPanda'

In [6]:
from data_pipeline.src.core.config import settings
import duckdb

# Initiate a MotherDuck connection using an access token
con = duckdb.connect(f"md:StreamingApp?motherduck_token={settings.MOTHERDUCK_TOKEN}")

In [7]:
con

In [8]:
con.sql("SHOW DATABASES").show()

┌───────────────────────┐
│     database_name     │
│        varchar        │
├───────────────────────┤
│ StreamingApp          │
│ md_information_schema │
│ my_db                 │
│ sample_data           │
└───────────────────────┘

In [9]:
con.sql("SELECT current_database()").fetchdf()

  current_database()
0       StreamingApp

In [18]:
con.sql("USE main")

In [14]:
con.sql("SELECT current_database()").fetchdf()

  current_database()
0       StreamingApp

In [12]:
con.sql("SHOW TABLES")

┌─────────────┐
│    name     │
│   varchar   │
├─────────────┤
│ BitcoinData │
│ Coin        │
└─────────────┘

In [17]:
# Check if table exists
table_name = "Coin"
table_exists = (
    con.sql(
        f"SELECT COUNT(*) FROM information_schema.tables WHERE table_name = '{table_name}'"
    ).fetchone()[0]
    > 0
)

if not table_exists:
    # Create table if it does not exist
    con.sql(f"CREATE TABLE {table_name} (column1 VARCHAR, column2 VARCHAR)")

# Insert data into the table
con.sql(f"INSERT INTO {table_name} VALUES ('value1', 'value2')")

In [11]:
con.sql("""
            CREATE TABLE IF NOT EXISTS BitcoinData (
                price VARCHAR(255),
                volume_24h VARCHAR(255),
                volume_change_24h VARCHAR(255),
                percent_change_1h VARCHAR(255),
                percent_change_24h VARCHAR(255),
                percent_change_7d VARCHAR(255),
                market_cap VARCHAR(255),
                market_cap_dominance VARCHAR(255),
                fully_diluted_market_cap VARCHAR(255),
                last_updated VARCHAR(255)
            );
        """)